server:
  port: 9099
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
spring:
  application:
    name: dcondecubas-demo
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  datasource:
    url: jdbc:h2:mem:mydb
    username: sa
    password: password
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
  h2:
    console.enabled: true
logging:
  level:
    org:
      springframework:
        security: DEBUG
        web: DEBUG

jwt:
  private.key: classpath:app.key
  public.key: classpath:app.pub